<style>
	* {
		font-family: 'Titillium Web', sans-serif;
	}
	@media print {
	@page {			
		margin: 20mm 0;
	}
	article,
	article div {
		page-break-inside: avoid;
	}
}
</style>

<div class="container py-3">
	<%- page.content %>
</div>