html, body {
	margin: 0;
	padding: 0;
}
.navbar-brand .fa-home {
	color: rgba(0,0,0,0.5);
}
.nav-link:hover {
	color: royalblue !important;
	font-weight: bold;
}

.nav-link.active,
.nav-link:active {
	color: royalblue !important;
	font-weight: bold;
	border-bottom: 2px solid royalblue;
}

@media print {
	@page {			
		margin: 20mm;
		/* min-width: 1000px !important; */
	}
	article > section {
		page-break-inside: avoid;
	}
	a {
		text-decoration: none !important;
	}
}
* {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.05rem;
}
