.spacer {
	width: 100%;
}
.title {
	min-height: 3em;
	z-index: 2000;
}
@media screen and (orientation:portrait) {
	.spacer {
		height: 3em;
	}
}

@media screen and (orientation:landscape) {
	.spacer {
		height: 1em;
	}
}

h1,h2,h3,h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}