p {
	text-align: justify;
}

h2:not(:first-child) {
	margin-top: 1.5em;
}

ul + p, 
ol + p {
	margin-top: 0.5rem;
}

@media (min-width: 420px) {
	h2 ~ p {
		padding-left: 2em;
	}
	h2 ~ ul,
	h2 ~ ol {
		padding-left: 5em;
	}
}