//- Global site tag (gtag.js) - Google Analytics
script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-115036541-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-115036541-1');
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="theme-color" content="rgba(0,0,0,0)")
meta(name="description" content="author: Simon Baev, category: professional portfolio, area: full stack web developer, cv, project, about")
meta(name="google-site-verification" content="81IXiucozgdlpHMiS9uCCgF2EIM1xcfOsD6iZR6DiC4")
title #{config.title} #{page.title ? `(${page.title})` : ''}
//- Favicon
link(rel="shortcut icon", href="/images/simon_192.png")
//- Manifest
link(rel="manifest" href="/manifest.json")
//- Web fonts
link(async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web")
link(async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300")
//- Bootstrap 4 styles
link(async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
//- Custom CSS
link(rel="stylesheet" href="/css/common.css")
