<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light d-print-flex justify-content-between">
	<a class="navbar-brand" href="/">
		<i class="fas fa-home d-print-none"></i>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="d-inline-block">
		<div class="collapse navbar-collapse justify-content-end" id="navbar-content">
			<div class="navbar-nav">
				<a class="nav-item-cv nav-item nav-link ml-auto" href="/cv">CV</a>
				<a class="btn nav-item nav-link disabled d-none d-sm-inline-block" href="">|</a>
				<a class="nav-item-about nav-item nav-link ml-auto" href="/about">About Me</a>
				<a class="btn nav-item nav-link disabled d-none d-sm-inline-block" href="">|</a>
				<a class="nav-item-project nav-item nav-link ml-auto" href="/project">One recent project...</a>
			</div> 
		</div>
	</div>
</nav>