<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
	<a class="navbar-brand btn" href="/"><i class="fas fa-home"></i></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbar-content">
		<div class="navbar-nav">
			<a class="nav-item nav-link ml-auto" href="/cv">CV</a>
			<a class="btn nav-item nav-link disabled d-none d-sm-inline-block" href="">|</a>
			<a class="nav-item nav-link ml-auto" href="/">About Me</a>
			<a class="btn nav-item nav-link disabled d-none d-sm-inline-block" href="">|</a>
			<a class="nav-item nav-link ml-auto" href="/">One recent project...</a>
		</div>
	</div>
</nav>