// Global site tag (gtag.js) - Google Analytics
script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-115036541-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){
	dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-115036541-1');
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="theme-color" content="rgba(0,0,0,0)")
meta(name="description" content="author: Simon Baev, category: professional portfolio, area: full stack web developer, cv, project, about")
meta(name="google-site-verification" content="81IXiucozgdlpHMiS9uCCgF2EIM1xcfOsD6iZR6DiC4")
title #{config.title} #{page.title ? `(${page.title})` : ''}
//- Font awesome
script(defer="" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
//- Manifest
link(rel="manifest" href="/manifest.json")
//- Bootstrap 4 styles
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
//- Fonts
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300")
//- Bootstrap 4 scripts
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
//- Custom CSS
link(rel="stylesheet" href="/css/common.css")
